/* CSS GENERICO */ 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.dashed {
    border: 1px dashed black;
}

.gray-bg {
    background-color: rgb(199, 197, 197);
}

/* HEADER E NAVBAR */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 2px 0;
    background-color: lightblue;
}

.logo,
.link,
.login {
    background-color: rgb(216, 159, 14);
    padding: 9px 7px;
}

.logo {
    width: 20%;
}

.link {
    width: 60%;
    text-align: center;
}

.login {
    width: 20%;
    text-align: end;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 300px;
    margin-top: 12px;

    background-color: rgb(12, 12, 126);
}

.header-box {
    background-color: rgb(235, 128, 212);
    height: 80%;
    width: 50%;
}

/* CORPO */

.section {
    display: flex;
    justify-content: center;

    height: 300px;
}

/* box contenuto */

.blue-box {
    width: 60%;
    height: 80%;
    background-color: lightskyblue;
}

.pink-box {
    height: 80%;
    width: 40%;
    background-color: lightpink;
}

.blue-box-reversed {
    width: 40%;
    height: 80%;
    background-color: lightskyblue;
}

.pink-box-reversed {
    width: 60%;
    height: 80%;
    background-color: lightpink;
}

/* sezione finale */

#last-section {
    height: 450px;
}

.green-box {
    background-color: rgb(8, 111, 8);
    height: 90%;
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(60, 60, 60);
    height: 350px;
}

#footer-section {
    height: 70%;
    margin-top: 5px;
}

.footer-pink-box {
    width: 30%;
    height: 100%;

    background-color: pink;
}

.footer-cyan-section {
    display: flex;
    justify-content: center;

    width: 70%;
    height: 100%;

    background-color: rgb(24, 178, 170);
}

.footer-cyan-box {
    width: 25%;
    border: 1px dashed white;
}

hr {
    width: 100%;
}

.page-bottom {
    display: flex;
    justify-content: space-between;
    height: 50px;
    
    background-color: aquamarine;
}

.footer-logo,
.footer-button {
    padding: 5px;
    background-color: pink;
}