/* CSS GENERICO */ 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.dashed {
    border: 2px dashed black;
}

.gray-bg {
    background-color: #D3D3D3;
}

/* HEADER E NAVBAR */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 2px 0;
    background-color: #ADD8E7;
}

.logo,
.link,
.login {
    background-color: #DAA51E;
    padding: 9px 7px;
}

.logo {
    width: 20%;
}

.link {
    width: 60%;
    text-align: center;
}

.login {
    width: 20%;
    text-align: end;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 300px;
    margin-top: 12px;

    background-color: #00018B;
}

.header-box {
    background-color: #EF82ED;
    height: 80%;
    width: 50%;
}

/* CORPO */

.section {
    display: flex;
    justify-content: center;

    height: 300px;
}

.blue-box {
    width: 60%;
    height: 80%;
    background-color: #1D90FF;
}

.pink-box {
    height: 80%;
    width: 40%;
    background-color: #FFBFCA;
}

.blue-box-reversed {
    width: 40%;
    height: 80%;
    background-color: #1D90FF;
}

.pink-box-reversed {
    width: 60%;
    height: 80%;
    background-color: #FFBFCA;
}

/* sezione finale */

#last-section {
    height: 450px;
}

.green-box {
    background-color: #208B21;
    height: 90%;
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #23272A;
    height: 350px;
}

#footer-section {
    height: 70%;
    margin-top: 5px;
}

.footer-pink-box {
    width: 30%;
    height: 100%;

    background-color: #F08180;
}

.footer-cyan-section {
    display: flex;

    width: 70%;
    height: 100%;

    background-color: #1FB3AA;
}

.footer-cyan-box {
    width: 25%;
    border: 1px dashed white;
}

hr {
    height: 2px;
    color: white;
    width: 100%;
}

.page-bottom {
    display: flex;
    justify-content: space-between;
    height: 50px;
    
    background-color: #7FFFD4;
}

.footer-logo,
.footer-button {
    padding: 5px;
    background-color: #FFB7C0;
}